body{
    background-color: #151515;
}

a{
    text-decoration: none;
    color: black;
}
.header{
    background-color: white;
    width: 98%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1%;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;

    /** font **/
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}
.navigation{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-elem :hover{
    letter-spacing: 2px;
    color: lightgray;
    transition: 0.3s;
}
.nav-elem :not(:hover){
    transition: 0.3s;
}

.headercontact{
    display: grid;
    align-items: center;
    height: 40px;
    width: 25%;
    border: 2px solid #151515;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
}
.headercontact :hover{
    letter-spacing: 2px;
    color: lightgray;
    transition: 0.3s;
}
.headercontact :not(:hover){
    transition: 0.3s;
}

.i1{
    width: 100%;
}

.inscription{
    display: grid;
    color: white;
    text-align: center;
    height: 25vh;
    align-items: center;
    line-height: 40px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}


.about-image{
    width: 25%;
    border-radius: 25px;
}

.about-text{
    width: 40%;
}

.About{
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 25px;
}


